.homepage{
    width: 100lvw;
    height: 100lvh;
background: url("/Users/abhi/Documents/vCallProject/frontend/vbackground1.jpg");
/* background-repeat: no-repeat; */
background-size:cover;
}
.homepage nav{
    padding-inline:  2rem;;
  /* color: rgb(232, 212, 185);   */
  
  text-shadow:
   -1px -1px 0 antiquewhite,
    1px -1px 0 antiquewhite,
   -1px  1px 0 antiquewhite,
    1px  1px 0 antiquewhite;

  /* color:antiquewhite; */
    padding-block: 1.5rem;
    display: flex;
    justify-content: space-between;
    
}
.homepage nav h2{
    /* display: flex; */
    font-size:1.8rem;
    font-weight: 500;
    /* /* text-shadow:  0 10px 20px rgba(251, 249, 249, 0.1); */
   
 
}
.homepage nav .second {
    display: flex;
    font-weight: 500;
    gap: 2rem;
    cursor: pointer;
}
.bodysection{
    display: flex;


}
.bfirst{
    padding-inline:2rem ;
    padding-top:17rem ;
} 
.bfirst h1{
    font-size:4rem;
    font-weight: 100;
    text-shadow:
   -1px -1px 0 antiquewhite,
    1px -1px 0 antiquewhite,
   -1px  1px 0 antiquewhite,
    1px  1px 0 antiquewhite;

}
.bfirst h4{
    font-size:1.5rem;
    font-weight: 100;
    text-shadow:
    -1px -1px 0 antiquewhite,
    1px -1px 0 antiquewhite,
   -1px  1px 0 antiquewhite,
    1px  1px 0 antiquewhite;
}
.bfirst h4 span{
    color: rgb(240, 217, 187);
    /* background-color: aliceblue; */
}
.bfirst h1 span{
    font-size:5rem;
    font-weight: 100;
    color: rgb(174, 142, 101);
    text-shadow:
    10px 10px 0 black,
     1px 1px 0 black,
    1px  1px 0 black,
     1px  1px 0 black
}
.forbutton button{
    font-size:1.8rem;
    font-weight: 500;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    text-shadow:
    -1px -1px 0 antiquewhite,
    1px -1px 0 antiquewhite,
   -1px  1px 0 antiquewhite,
    1px  1px 0 antiquewhite;
    cursor: pointer;
}
.bmiddle{
padding-bottom: 2rem;
    padding-left: 7rem;
}
.bmiddle img{
    width: 600px;
    height: 700px;
    opacity: 0.7;
       /* background-color: antiquewhite; */
}